.input {
  flex: 1;
  font-family: Roboto;
  font-size: 20px;
  width: 290px;
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  height: 56px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 6px 12px rgb(0 0 0 / 12%);
  align-items: center;
  padding: 0 16px 0 40px;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 400;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  :focus {
    border: 0.5px solid #dfecff;
  }
}
.amount_block {
  position: relative;

}
.symbol{
  font-family: Roboto;
  font-size: 20px;
  position: absolute;
  left: 8px;
  top: 16px;
  width: 30px;
}