.btn {
  width: 56px;
  height: 56px;
  border-radius: 28px;
  background: initial;
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  transition: 0.6s ease all;
 //margin-left: 2%;
  &_rotate {
    transform: rotate(180deg);
  }
  :hover {
    cursor: pointer;
  }
}
