.convert {
  &_block {
    text-align: center;
    position: relative;
    
  }
  &_title {
    font-family: 'Roboto';
    margin-bottom: 6px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
  }
  &_container {
    display: flex;
    border: 0.5px solid rgba(#000,0.3);
    box-shadow: 0px 6px 12px rgb(0 0 0 / 17%);
    width: 320px;
    height: 56px;
    border-radius: 8px;
    box-shadow: blue;
    align-items: center;
    padding: 0 16px;
  }
  &_open {
    border-color: #2C66B8;
  }

  &_open~&_list{
    height: 130px;
    padding: 12px;
    margin-right: 15px;
}
&_open>&_arrow{
    transform: rotate(0);
    margin-right: 5px;
}
&_arrow{
    margin-left: auto;
    transform: rotate(90deg);
    transition: 0.4s ease all;
}

&_input{
    border:none;
    outline: none;
    font-size: 24px;
    font-family: Roboto;
    font-weight: 400;
   /* &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0; 
    }*/
}
&_list{
    height: 0;
    transition: 0.4s ease all;
    position: absolute;
    top:70px;
    overflow: scroll;
    padding-left: 0;
    border-radius: 12px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.12);
    padding: 0px;
    left:20px;
    background-color: #fff;
    cursor: pointer;
    z-index: 2;
   
}
&_item{
    list-style-type: none;
    font-family: Roboto;
    font-size: 16px;
    margin-bottom: 8px;
    display: flex;

    &:hover{
        background-color: #DFECFF;
    }
}
&_symbol{
   padding-right: 7px;
}

&_value{
    font-family: Roboto;
    font-size: 20px;
    color:#717F92;
    &_symbol{
        color: black;
    }
}
}
