
.content {
    padding: 0px 25px 10px 0px;
    margin-left: 5%;
    height: 300px;
    overflow-y: scroll;
}
.list{
    list-style-type: none;
    font-family: Roboto;
    font-size: 26px;
    padding: 10px 0px;
}
.time, .from, .to {
    font-weight: 600;
}
.btn {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}
.empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Roboto;
    font-weight: 400;
    font-size: 50px;
}