.button {
  cursor: pointer;
  height: 52px;
  width: 153px;
  border-radius: 12px;
  background-color: #2c66b8;
  color: #fff;
  border: none;
  outline: none;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  &:active {
    opacity: 0.5;
  }
}
