
.root {
  background: #ffffff;
  box-shadow: 0px 12px 24px rgba(0, 53, 129, 0.3);
  border-radius: 16px;

  position: absolute;
  width: 1200px;
  height: 374px;
  left: 122px;
  top: 213px;
  width: 85vw;
  height: fit-content;
  border-radius: 16px;
  overflow: hidden;
  margin: auto;

  a {
    text-decoration: none;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
  }
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #dfecff;
  margin-bottom: 50px;
}
.nav {
  display: flex;
  padding: 0px 70px;
 
  svg {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
}
.nav[class ~="active"] {
  background-color: #fff;
}

.navigation {
  display: flex;
  background: #dfecff;
  overflow: hidden;
  height: 68px;
}

.content {
  padding: 40px 0px;
}